Hallo zusammen,
wir hätten noch ein paar Lücken im Schichtplan. Und zwar:
{% for block in unsufficiently_booked_blocks -%}
{%- set date_parts = block.date | split(pat="-") -%}
- {% if block.day_of_week == "Monday" %}Montag{% elif block.day_of_week == "Tuesday" %}Dienstag{% elif block.day_of_week == "Wednesday" %}Mittwoch{% elif block.day_of_week == "Thursday" %}Donnerstag{% elif block.day_of_week == "Friday" %}Freitag{% elif block.day_of_week == "Saturday" %}Samstag{% elif block.day_of_week == "Sunday" %}Sonntag{% endif %}, {{ date_parts[2] }}.{{ date_parts[1] }} von {{ block.from | truncate(length=5, end="") }} Uhr bis {{ block.to | truncate(length=5, end="") }} Uhr
{% endfor %}